.form-fill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.fill{
text-align: left;
}

.form-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 428px;
    
    > * {
        display: inline;
        margin: 10px 0px 10px 0px;
    }

    input{
        width: 350px;
        margin-left: 4px;
        padding: 10px 0 10px 0;
        background-color: #595959;
        border: none;
    }
}
button {
    padding: 10px 15px 10px 15px;
    background-color: #b8b8ba;
    border: none;
    color: #f9f9f9;
  }