@mixin for-narrow-layout {
    @media (max-width: $break-narrow) {
      @content;
    }
  }

  @mixin for-wide-layout {
    @media (min-width: $break-wide) {
      @content;
    }
  }
  
  @mixin for-medium-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  

@mixin aspect-ratio($width, $height) {
    overflow: hidden;
    > img {
      height: 100%;
      object-fit: cover;
    }
}