.filter-search {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  
    input {
        width: 370px;
      padding: 10px 0 10px 0;
      border-radius: 10px;
      background-color: #504e4e;
      border: none;
      outline: none;
      color: #e8e7e7;
    }
  }