.contact-preview {
    display: flex;
    width: 370px;
    background-color: #363636;
    border-radius: 40px;
    padding: 10px;
    margin: 20px 0 20px 0;
    flex-direction: row;
    align-items: center;
}

.avatar-img {
    width: 50px;
    min-width: 30px;
}

.contact-name {
    color: rgb(206, 206, 206);
    text-decoration: none;
    /* no underline */
}