.moves-list {
    background-color: #2c2b2b;
    text-align: center;
    border-radius: 30px;
    margin-top: 50px;
  }
  
  .title {
    font-weight: bold;
  }
  
  .move{
    margin-top: 15px;
  }
  
  