// header{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
// }

// .NavBar{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;
//     width: 300px;
// }

.logo{
    font-size: 38px;
    font-family: Times;
    padding-top: 28px;
}

a{
    color: rgb(206, 206, 206);
    text-decoration: none;
}

.active {
    color: rgb(206, 206, 206);
    text-decoration: none;
}

